:root {
  --color-1: #FFFFFF;
  --color-2: #F5F5F5;
  --color-3: #EBECEE;
  --color-4: #DEE3F1;
  --color-5: #8D8D8D;
  --color-6: #061C48;
  --color-7: #000000;
  --color-8: #FF4C00;
  --color-9: #454545;
}