.smartFactory {
  @include header;
  /* 공통 (PC 기준) ------------------------------------------ */
  section {
    width: 100%;
    @include pageTitle;
    &:nth-of-type(1) {
      .title {color: var(--color-1); font-size: var(--font-8);}
    }
    &:nth-of-type(3) {.contents{flex-wrap: nowrap;}}
    u {text-underline-offset:6px;color:var(--color-6);}
    .business, .timeline {
      border: 1px solid var(--color-3);
      border-radius: 10px;
      padding: 32px;
    }
    .contents {
      width: 100%; display: flex; justify-content: space-around; align-items: center; flex-wrap: wrap; gap: 16px;
      img{padding: 10px;}
      a {padding: 40px 30px; background-color: var(--color-4); border-radius: 10px; width: 48%; text-align: center; font-size: var(--font-6);}
      .timeline-m {display: none;}
      ul{display: flex; justify-content: space-around; width: 100%;
        li{text-align: center;margin:32px 0;
          p{
            &:nth-of-type(1){color:var(--color-5);font-size: var((--font-3));}
            &:nth-of-type(2){color:var(--color-8);font-size: var((--font-4));}
          }
          img{margin-top:16px;width: 400px;border-radius: 20px;}
        }
      }
    }
    .step {
      ul{flex-wrap: wrap;}
    }
    .contents{
      .dklab-smartFactory-btn {background-color: var(--color-6); color:var(--color-2);}
      .smartFactory-btn{&:hover{opacity: .8;}}
    }
    .gov {display: flex; flex-wrap: wrap; justify-content: space-between; gap: 24px; width: 100%; align-items: center; padding: 30px;
      a{&:hover{opacity: .5;}}
    }
    /* PC ------------------------------------------ */
    @include desktop {
    }
    /* Tablet --------------------------------------- */
    @include tablet {
      &:nth-of-type(1) {
        .title {font-size: var(--font-6);}
      }
      .subtitle {font-size: var(--font-5);}
      &:nth-of-type(2) {
        .contents{display: flex; gap:10px;
        }
      }
      .contents {
        a{padding: 24px; font-size: var(--font-3);}
        .timeline-m {display: none;}
        ul{
          li{margin:10px 0;
            p{
              &:nth-of-type(1){font-size: var((--font-2));}
              &:nth-of-type(2){font-size: var((--font-2));}
            }
            img{width: 340px;}
          }
        }
      }
      .gov {width:100%; gap:16px; a{width:20%;}}
    }
    /* Mobile --------------------------------------- */
    @include mobile {
      .contents{
        ul{
          display: grid;
          li{
            margin: 10px 0;
            p{
              &:nth-of-type(1){font-size: var(--font-2);}
              &:nth-of-type(2){font-size: var(--font-2);}
            }
            img{margin-top:8px;}
          }
        }
      }
      .business{padding:10px;}
      &:nth-of-type(1) {
        .title {font-size: var(--font-3);}
      }
      .subtitle {font-size: var(--font-3);}
      .contents {
        display: grid; gap: 16px;
        a{padding: 20px 40px; width: 100%; font-size: var(--font-4);}
        .timeline-w {display: none;}
        .timeline-m {display: block;}
      }
      .gov {width:100%; gap:12px; padding: 8px; a{width:30%;}}
    }
    /* min Mobile ----------------------------------- */
    @include min-mobile{
      &:nth-of-type(1){
        .title{font-size:var(--font-2);}
      }
      .contents{
        a{padding:16px;font-size:var(--font-1);}
        img{padding:0px;}
      }
      .gov{gap:6px;}
    }
  }
}